

#liste-cours {
      margin-bottom:0 ;
}

.liste-cours {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2% 2% 0% 15%;
    font-size : 1.5em;
  
    .domaine-1 { background-color: #E8B4BC; color : #fff; }
    .domaine-2 { background-color: #CCFCCB; color : #aaa;}
    .domaine-3 { background-color: #D7FDEC; color : #fff;}
    .domaine-4 { background-color: #EEF4D4; color : #fff;}
    .domaine-5 { background-color: #ADF5FF; color : #fff;}
    h3,h4 { padding:5px;}

    @include media(mobile){
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        font-size : 1.3em;

    }

    @include media(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size : 1em;
     
    }

    @include media(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
   
    }

    @include media(wide) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
     
        }

    .entry-title {

        h3{
            font-size: .5em;
        }
        h4{
            font-size: .4em;
        }
    }






}